/* Algemene stijl */

html {
  background-color: #f5f5f5;
   font-family: HelloHiFont; /* use font */
}


@font-face {
  font-family: HelloHiFont; /* set name */
  src: url(ftltlt-webfont.woff); /* url of the font */
}

@font-face {
  font-family: HelloHiFont2; /* set name */
  src: url(ftltlt-webfont.woff2); /* url of the font */
}

body {
  margin: 0;
 font-family: HelloHiFont; /*use font*/
 color: #111;
 background-image: url(watch.png);
 background-size: 450px;
 background-position-x: right;
 background-repeat: no-repeat;
 background-position-y: 250px;
}

/* Navigatie */
.navbar {
  background: #7b5ce0;
  padding: 15px 0;
  text-align: center;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  margin: 0 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* Hero sectie */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  position: relative;
}

.deal-badge {
  position: absolute;
  left: 830px;
  top: 200px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 8px solid #7b5ce0;
  text-align: center;
}
.deal-badge span {
  transform: rotate(-20deg);
}

.hero-content {
  text-align: center;
}


.hero h1 {
  font-size: 62px;
}

/* Product info */
.product-info {
  max-width: 680px;
  margin: 50px 200px;
  padding: 40px;
  background: #f5f5f5;
  background-color: #fff;
  border-bottom-right-radius: 200px;
  background-position-y: top;
  background-position-x: left;
}
.product-info h2 {
  font-size: 36px;
}
.product-info p {
  line-height: 1.6;
}
.product-info ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.product-info ul li {
  margin: 5px 0;
}
.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  line-height: 1.4;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background: black;
  color: white;
  text-decoration: none;
}



